body {
  background-color: black;
  background-image: url("/img/ac_dk_bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat; }

#card-1-body {
  background-color: black;
  background-image: url("/img/strat.jpg");
  background-size: 100%; }

#card-2-body {
  background-color: black;
  background-image: url("/img/hummingbird.jpg");
  background-size: 100%; }
